$background: #141017;
$foreground: #F0CAF9;

// Color Palette
$color0: #3F3A43;
$color1: #504162;
$color2: #534266;
$color3: #82519E;
$color4: #A562DE;
$color5: #6972FB;
$color6: #D568ED;
$color7: #E2ABEE;
$color8: #9E78A6;
$color9: #504162;
$color10: #534266;
$color11: #82519E;
$color12: #A562DE;
$color13: #6972FB;
$color14: #D568ED;
$color15: #E2ABEE;
