$background: #121011;
$foreground: #F9EFF4;

// Color Palette
$color0: #3D3A3C;
$color1: #A362C5;
$color2: #8B949B;
$color3: #B68AA9;
$color4: #D0BEAE;
$color5: #9CD2FD;
$color6: #EDD0E0;
$color7: #EEDFE7;
$color8: #A69CA2;
$color9: #A362C5;
$color10: #8B949B;
$color11: #B68AA9;
$color12: #D0BEAE;
$color13: #9CD2FD;
$color14: #EDD0E0;
$color15: #EEDFE7;
