$background: #212220;
$foreground: #CFD2D4;

// Color Palette
$color0: #4C4E4B;
$color1: #585E55;
$color2: #777C77;
$color3: #797F7A;
$color4: #848C91;
$color5: #858C91;
$color6: #828B91;
$color7: #B2B6BA;
$color8: #7C7F82;
$color9: #585E55;
$color10: #777C77;
$color11: #797F7A;
$color12: #848C91;
$color13: #858C91;
$color14: #828B91;
$color15: #B2B6BA;
