/** Directories-Menu Launcher ***********************************/

.directory_menu_launcher {
    margin-left: 5px;
    margin-right: 5px;
}

.directory_menu_button {
    color: $color2;
    background-color: $color7;
    border-radius: 20px;
    box-shadow: $box-shadow-deep;

    &:hover {
        color: $color3;
        box-shadow: $box-shadow-inset;
    }
}
