/** Mixins ***************************************/

@mixin directory-launcher-spacing {
  margin-left: 5px;
  margin-right: 5px;
}

@mixin directory-button-style {
  color: $color1;
  border-radius: 20px;
  box-shadow: $box-shadow-deep;
  background-color: $foreground;
}

@mixin directory-button-hover {
  &:hover {
    box-shadow: $box-shadow-inset;
    color: $color8;
  }
}


/** Directories-Menu Launcher ***********************************/

.directory_menu_launcher {
  @include directory-launcher-spacing;
}

.directory_menu_button {
  @include directory-button-style;
  @include directory-button-hover;
}
