/** Mixins ***************************************/

@mixin resource-style {
  margin-right: 6px;
  background-color: $foreground;
  box-shadow: $box-shadow-inset;
  border-radius: 20px 15px 15px 20px;
  transition: all 0.3s ease;
}

@mixin circle-style {
  color: $color1;
}

@mixin button-style {
  color: $color1;
  box-shadow: $box-shadow-deep;
  background-color: $foreground;
  transition: all 0.3s ease;

  &:hover {
    color: $color13;
    box-shadow: $box-shadow-inset;
  }
}

@mixin label-style {
  margin-right: 3px;
  color: $color1;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 0 0 2px $color2;
}


/** Resources ***********************************/

.resources {
}

.resource_bluetooth,
.resource_battery,
.resource_brightness,
.resource_volume,
.resource_cpu,
.resource_ram, 
.resource_temp_cpu {
  @include resource-style;
}

.bluetooth_circle,
.battery_circle,
.brightness_circle,
.volume_circle,
.cpu_circle,
.resource_circle,
.temp_cpu_circle {
  @include circle-style;
}

.bluetooth_button,
.battery_button,
.brightness_button,
.volume_button, 
.cpu_button, 
.resource_button,
.temp_cpu_button, {
  @include button-style;
}

.label_bluetooth,
.label_battery,
.label_brightness,
.label_volume, {
  @include label-style;
}
