/** Mixins ***************************************/

@mixin launcher-style {
  margin-left: 0px;
  border-radius: 20px;
}

@mixin button-style {
  color: $color1;
  background-color: $foreground;
  border-radius: 40px;
  box-shadow: $box-shadow-deep;
}

@mixin button-hover-style {
  color: $color13;
  box-shadow: $box-shadow-inset;
}

.launcher_app {
  @include launcher-style;
}
.button_app {
  @include button-style;
  @include button-hover-style;
}

.launcher_directory {
  @include launcher-style;
}
.button_directory {
  @include button-style;
  @include button-hover-style;
}

.launcher_media_player {
  @include launcher-style;
}
.button_media_player {
  @include button-style;
  @include button-hover-style;
}

.launcher_power {
  @include launcher-style;
}
.button_power {
  @include button-style;
  @include button-hover-style;
}

.launcher_settings {
  @include launcher-style;
}
.button_settings {
  @include button-style;
  @include button-hover-style;
}

.launcher_tools {
  @include launcher-style;
}
.button_tools {
  @include button-style;
  @include button-hover-style;
}
