$background: #201C21;
$foreground: #FFF6EF;

// Color Palette
$color0: #474248;
$color1: #B08EAA;
$color2: #81A9A1;
$color3: #F88C9E;
$color4: #9AC5E4;
$color5: #F7CEDC;
$color6: #FFE5D1;
$color7: #F7EAE0;
$color8: #ADA39C;
$color9: #B08EAA;
$color10: #81A9A1;
$color11: #F88C9E;
$color12: #9AC5E4;
$color13: #F7CEDC;
$color14: #FFE5D1;
$color15: #F7EAE0;
