$background: #2C2B2F;
$foreground: #F3F6E2;

// Color Palette
$color0: #514F54;
$color1: #AF97A0;
$color2: #D4907A;
$color3: #B6A47A;
$color4: #C0C7C0;
$color5: #E7C9B8;
$color6: #DCE5AB;
$color7: #E5EACD;
$color8: #A0A38F;
$color9: #AF97A0;
$color10: #D4907A;
$color11: #B6A47A;
$color12: #C0C7C0;
$color13: #E7C9B8;
$color14: #DCE5AB;
$color15: #E5EACD;
