$background: #0D0D10;
$foreground: #E9EFF4;

// Color Palette
$color0: #38383B;
$color1: #708198;
$color2: #988585;
$color3: #6198AB;
$color4: #959DB9;
$color5: #CCBCBD;
$color6: #BFD2E0;
$color7: #D7E0E7;
$color8: #969DA2;
$color9: #708198;
$color10: #988585;
$color11: #6198AB;
$color12: #959DB9;
$color13: #CCBCBD;
$color14: #BFD2E0;
$color15: #D7E0E7;
