/** Mixins ***********************************/
@mixin dynamic-box-style {
  margin-left: 10px;
}

@mixin dynamic-sub-box-style {

}

@mixin dynamic-label-style {
  margin-left: 20px;
}

@mixin dynamic-sub-label-style {
  margin-left: 20px;
}

@mixin dynamic-icon-style {
  font-size: 35px;
  color: $color5;
}

/** Active Media ***********************************/

/* Container Boxes */
.dynamic_box_container,
.media_box_container {
}

/* Sub-containers */
.box_class_icon,
.media_box_playing {
  @include dynamic-sub-box-style;
}

/* Top Labels */
.dynamic_workspace_label,
.media_label_artist {
  @include dynamic-label-style;
}

/* Bottom Labels */
.workspace_label,
.media_label_song {
  @include dynamic-sub-label-style;
}

/* Icons */
.window_icon,
.media_icon {
  @include dynamic-icon-style;
}
