/** Mixins ***************************************/

@mixin launcher-box-style {
  margin-right: 10px;
  border-radius: 20px;
}

@mixin launcher-button-style {
  color: $color9;
  background-color: $foreground;
  border-radius: 40px;
  box-shadow: $box-shadow-deep;
}

@mixin launcher-button-hover-style {
  color: $color13;
  box-shadow: $box-shadow-inset;
}

/** Launcher *************************************/

.launcher_app {
  @include launcher-box-style;
}

.button_app_launcher {
  @include launcher-button-style;

  &:hover {
    @include launcher-button-hover-style;
  }
}
