/** Launcher Button Styles ***************************************/

// Base Button Styles
@mixin button-style {
  color: $color7;
  background-color: $color2;
  border-radius: 20px;
  box-shadow: $shadow-bottom-subtle;
}

// Hover State
@mixin button-hover-style {
  color: $color13;
  box-shadow: $shadow-inset-soft;
}

// Combined Button with Hover Support
@mixin full-button-style {
  @include button-style;

  &:hover {
    @include button-hover-style;
  }
}

/** Launcher Buttons ********************************************/

// Apply to All Launcher Buttons
.power_button_launcher,
.directory_button_launcher,
.tools_button_launcher,
.application_button_launcher,
.media_button_launcher,
.settings_button_launcher {
  @include full-button-style;
}
