/** Mixins ***************************************/
@mixin settings-launcher-style {
  border-radius: 20px;
}

@mixin settings-button-style {
  color: $color1;
  background-color: $foreground;
  border-radius: 40px;
  box-shadow: $box-shadow-deep;
}

@mixin settings-button-hover-style {
  color: $color13;
  box-shadow: $box-shadow-inset;
}

/** Media-Player *********************************/

.launcher_settings {
  margin-left: 10px;
  @include media-player-launcher-style;
}

.button_settings {
  @include media-player-button-style;

  &:hover {
    @include media-player-button-hover-style;
  }
}
