/** Mixins ****************************************/

@mixin container-style {
  transition: all 0.2s ease;
  margin: 2px 0;
}

@mixin common-time-date-style {
  border-radius: 20px;
  color: $foreground;
  background-color: $color3;
  box-shadow: $shadow-inset-soft;
  transition: all 0.2s ease;

  &:hover {
    color: $color9;
    background-color: $color6;
    box-shadow: 0 0 5px $color6;
  }
}

@mixin time-style {
  @include common-time-date-style;
  font-size: 24px;
  letter-spacing: -0.5px;
}

@mixin date-style {
  @include common-time-date-style;
  padding-top: 0;
  font-size: 20px;
  text-shadow: 0 0 2px $color2;
}

/** Styles ****************************************/

.datetime_container {
  @include container-style;
}

.time_group,
.time_minute {
  @include time-style;
}

.time_hour {
  @include time-style;
  margin-right: 5px;
  padding-right: 2px;
}

.time_date {
  @include date-style;
}
