/** Mixins ***************************************/

@mixin systray-container-style {
  margin-left: 7px;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 16px;
  color: $foreground;
  padding: 6px;
  background-color: $color1;
  border-radius: 12px;
  box-shadow: $box-shadow-inset;
  transition: all 0.2s ease;
}

@mixin systray-menuitem-style {
  border-radius: 8px;
  padding: 8px 14px;
  background-color: $color2;
  transition: all 0.2s ease;
  font-size: 14px;
  color: $foreground;
}

@mixin systray-menuitem-hover-style {
  background-color: $color3;
  color: $foreground;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/** Systray ***************************************/

.systray {
  @include systray-container-style;

  menuitem {
    @include systray-menuitem-style;

    &:backdrop {
      background-color: $color2;
      opacity: 0.9;
    }
  }

  menuitem arrow {
    min-width: 16px;
    min-height: 16px;

    &:dir(ltr) {
      -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      margin-left: 12px;
      margin-right: 0;
    }
  }

  menuitem:hover {
    @include systray-menuitem-hover-style;
  }
}
