/** Power Menu ***********************************/

.power_menu {
    border-radius: 10px;
    box-shadow: $box-shadow-deep;
    background-color: $color5;
    padding-right: 2px;
    padding-left: 2px;
}

.power_option {
    color: $foreground; 
    background-color: transparent; 
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;

    &:hover {
        color: $color3; 
        box-shadow: $box-shadow-inset;
        background-color: $foreground;
    }
}
