/** Power-Menu Launcher ***********************************/

.power_menu_launcher {
    margin-right: 50px;
}

.power_menu_button {
    color: white;
    border-radius: 20px;
    box-shadow: $box-shadow-deep;
    background-color: black; 
    
    &:hover {
        box-shadow: $box-shadow-inset;
        color: $color8; 
    }
}