/** Power-Menu Launcher ***********************************/

.power_menu_launcher {
    margin-right: 5px;
    margin-left: 5px;
}

.power_menu_button {
    color: $color1;
    border-radius: 20px;
    box-shadow: $box-shadow-deep;
    background-color: $foreground; 
    
    &:hover {
        box-shadow: $box-shadow-inset;
        color: $color8; 
    }
}