/** Mixins ***************************************/

@mixin launcher-container {
  margin-left: 5px;
  margin-right: 5px;
}

@mixin launcher-button {
  color: $color1;
  background-color: $foreground;
  border-radius: 20px;
  box-shadow: $box-shadow-deep;

  &:hover {
    box-shadow: $box-shadow-inset;
    color: $color8;
  }
}

/** Directory Menu ***************************************/


.directory_menu_launcher {
  @include launcher-container;
}

.directory_menu_button {
  @include launcher-button;
}

.power_menu_launcher {
  @include launcher-container;
}

.power_menu_button {
  @include launcher-button;
}

.tools_menu_launcher {
  @include launcher-container;
}

.tools_menu_button {
  @include launcher-button;
}
