// ───────────────────────────────────────────────
// MIXIN: mixin-launcher
// Description: Exact replica of directory_menu_button
// ───────────────────────────────────────────────

@mixin launcher-container {
  margin-left: 5px;
  margin-right: 5px;
}

@mixin directory-launcher-button {
  color: $color1;
  background-color: $foreground;
  border-radius: 20px;
  box-shadow: $box-shadow-deep;

  &:hover {
    box-shadow: $box-shadow-inset;
    color: $color8;
  }
}

