/** Mixins ***********************************/
@mixin dynamic-box-style {
  margin-left: 5px;
}

@mixin dynamic-label-style {
  font-weight: bold;
  font-size: 14px;
}

@mixin dynamic-sub-label-style {
  font-size: 12px;
  color: $foreground;
}

/** Active Media ***********************************/

/* Container Boxes */
.workspace_box_container,
.media_box_container {
  @include dynamic-box-style;
}

/* Labels */
.media_label_artist,
.dynamic_workspace_label {
  @include dynamic-label-style;
}

.media_label_song,
.workspace_label {
  @include dynamic-sub-label-style;
}
