/** Mixins ***********************************/
@mixin dynamic-box-style {
  margin-left: 5px;
}

@mixin dynamic-sub-box-style {

}

@mixin dynamic-label-style {
}

@mixin dynamic-sub-label-style {
}

@mixin dynamic-icon-style {
  font-size: 35px;
  color: $color5;
}

/** Active Media ***********************************/

/* Container Boxes */
.workspace_box_container,
.media_box_container, {
  @include dynamic-box-style;
}

.workspace_box_icon,
.media_box_icon{ 
  font-size: 35px;
  color: $color6;
}

/* Sub-containers */
.box_class_icon,
.media_box_playing {
  @include dynamic-sub-box-style;
}

.workspace_icon,
.media_icon{

}

.media_label_artist,
.dynamic_workspace_label{

}

.media_label_song,
.workspace_label{

}