/** Mixins ***************************************/

@mixin workspace-style {
  border-radius: 20px;
  background-color: $color3;
  box-shadow: $shadow-inset-soft;
}

@mixin workspace-shared {
  margin-left: 1px;
  margin-right: 1px;
}

@mixin workspace-hover {
  &:hover {
    color: $color13;
    box-shadow: $shadow-inset-soft;
  }
}

@mixin workspace-unoccupied {
  color: $color4;
  border-radius: 20px;
}

@mixin workspace-occupied {
  color: $color1;
  background-color: $foreground;
  box-shadow: $shadow-bottom-subtle;
  border-radius: 20px;
}


/** Workspaces ***********************************/

.workspace {
  @include workspace-style;
}

// Apply margins to all
.w0,.w1,.w2, {
  @include workspace-shared;
}

.icon {
  font-size: 20px;
}

.subscript {
  font-size: 5px;
  margin-left: 0px;
}
// Unoccupied workspace
.w0, {
  @include workspace-unoccupied;
  @include workspace-hover;
}

// Occupied workspaces
.w1, {
  @include workspace-occupied;
  @include workspace-hover;
}

// Focused workspaces (same style as occupied)
.w2, {
  @include workspace-occupied;
  @include workspace-hover;
}
