/** EWW Bar ***********************************/

.bar1_eww {
    background-color: $color1;
    border-radius: 12px;
    font-family: Hack;
}

.bar1_left{
    padding-left: 5px;
    margin-left: 10px;
    background-color: $color1;
    border-radius: 10px;
}

.bar1_left_center{

}


.bar1_center {
    
}  


.bar1_right_container {
   
}

.date_time_box{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}