/** Mixins ***********************************/

/* Mixins */
@mixin media-player {
  background-color: $color2;
  border-radius: 10px;
  padding: 10px;
  border-top: 1px solid $color3;
}

@mixin media-label {
  color: $foreground;
  background-color: $color3;
  box-shadow: $box-shadow-deep;
  border-top: 1px solid $color3;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}

@mixin image-container {
  background-color: $color4;
  box-shadow: $box-shadow-deep;
  border-radius: 8px;
  padding: 3px;
}

@mixin song-info-box {
  background-color: $color0;
  color: $foreground;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.1em;
  margin-top: 10px;
  padding-bottom: 5px;
}

@mixin progress-wrapper {
  background-color: $color0;
  color: $foreground;
  padding-bottom: 5px;
}

@mixin media-controls {
  background-color: $color0;
  color: $foreground;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 10px;
}

/** Media Player ***********************************/

.media_player {
  @include media-player;
}

.label_player {
  @include media-label;
}

.box_image_container {
  @include image-container;
}

.box_image {
  border-radius: 6px;
}

.box_song_information {
  @include song-info-box;
}

.label_artist_song {
  margin-left: 5px;
}

.box_progression {
  @include progress-wrapper;
}

.media_progress {
  padding-bottom: 6px;
}

.media_progress > trough {
  background-color: $background; 
  min-width: 5px;
}

.box_controls {
  @include media-controls;
}
