.window_bar,
.window_bluetooth,
.window_calendar,
.window_media,
.window_settings {
	background: $color3;
	background: linear-gradient(135deg, $color1 0%, $color2 100%, 
										$color3 100%, $color4 100%, 
										$color5 100%, $color6 100%, 
										$color7 100%, $color8 100%,  $accent1 100%); // Main background
  	border-radius: 20px;
  	font-family: Hack;
}



.notification {
  padding: 0.5em;
  margin: 0.3em;
  background-color: white;
  border-radius: 0.4em;
  color: white;
}

.notif-app {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.notif-summary {
  font-size: 1em;
  color: black;
}

.notif-body {
  font-size: 0.9em;
  color: black;
}
