$background: #100F10;
$foreground: #B8AAB7;

// Color Palette
$color0: #3B3A3B;
$color1: #524552;
$color2: #564556;
$color3: #5A4459;
$color4: #5E435C;
$color5: #624360;
$color6: #624360;
$color7: #917D90;
$color8: #665864;
$color9: #524552;
$color10: #564556;
$color11: #5A4459;
$color12: #5E435C;
$color13: #624360;
$color14: #624360;
$color15: #917D90;
