$background: #121314;
$foreground: #FFF0E4;

// Color Palette
$color0: #3A3A3C;
$color1: #699BB9;
$color2: #B08F82;
$color3: #DFAAD9;
$color4: #B6C09C;
$color5: #BAC0C8;
$color6: #FFD3B3;
$color7: #F7E1D0;
$color8: #AD9D92;
$color9: #699BB9;
$color10: #B08F82;
$color11: #DFAAD9;
$color12: #B6C09C;
$color13: #BAC0C8;
$color14: #FFD3B3;
$color15: #F7E1D0;
