/** Mixins ***********************************/

@mixin box-style {
  padding: 0 5px; // shorthand for left and right padding
  background-color: $color3;
  box-shadow: $shadow-inset-soft;
  border-radius: 10px;
}

@mixin label-style {
  font-weight: bold;
  color: $color5;
  font-size: 16px;
}

@mixin sub-label-style {
  font-size: 14px;
  color: $foreground;
}

/** Active Media ***********************************/

/* Container Boxes */
.workspace_box_container {
  @include box-style;
  margin-left: 5px;
}

.media_box_container {
  @include box-style;
  margin-right: 5px;
}

/* Labels */
.media_label_artist,
.dynamic_workspace_label {
  @include label-style;
}

.media_label_song,
.workspace_label {
  @include sub-label-style;
}
