/** Mixins ***************************************/

@mixin workspace-style {
  border-radius: 20px;
  background-color: $color3;
  box-shadow: $shadow-inset-soft;
}

@mixin workspace-shared-margin {
  margin-left: 1px;
  margin-right: 1px;
}

@mixin workspace-hover {
  &:hover {
    color: $color13;
    box-shadow: $shadow-inset-soft;
  }
}

@mixin workspace-unoccupied {
  color: $color4;
  border-radius: 20px;
}

@mixin workspace-occupied {
  color: $color1;
  background-color: $foreground;
  box-shadow: $shadow-bottom-subtle;
  border-radius: 20px;
}


/** Workspaces ***********************************/

.workspace {
  @include workspace-style;
}

// Apply margins to all workspace states
.w0, .w1, .w2 {
  @include workspace-shared-margin;
  @include workspace-hover;
}

.icon {
  font-size: 20px;
}

.subscript {
  font-size: 5px;
  margin-left: 0;
}

// Unoccupied workspace
.w0 {
  @include workspace-unoccupied;
}

// Occupied workspaces
.w1,
.w2 {
  @include workspace-occupied;
}
