/** Mixins ****************************************/

@mixin time-style {
  margin-right: 2px;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: $color1;
  background-color: $foreground;
  box-shadow: $box-shadow-deep;
  transition: all 0.2s ease;

  &:hover {
    color: $color9;
    background-color: $color6;
    box-shadow: 0 0 5px $color6;
  }
}

@mixin container-style($bg: $foreground) {
  border-radius: 20px;
  background-color: $bg;
  box-shadow: $box-shadow-inset;
  transition: all 0.2s ease;
}

@mixin date-style {
  font-size: 12px;
  padding: 1px 1px;
  color: $foreground;
  background-color: transparent;
  text-shadow: 0 0 2px $color2;
  border-radius: 20px;
  transition: all 0.2s ease;

  &:hover {
    color: $color9;
    background-color: $color6;
    box-shadow: 0 0 5px $color6;
  }
}

@mixin hover-revealer-style {
  color: $color3;
  border-radius: 20px;

  &:hover {
    color: $color3;
    box-shadow: $box-shadow-inset;
  }
}

/** Styles ****************************************/

.datetime_container {
  box-shadow: $box-shadow-inset;
  border-radius: 20px;
  background-color: $color3;;
  margin-right: 5px;
}

.container_hours_minutes {
  @include container-style;
}

.time_hour,
.time_minute,
.time_second {
  @include time-style;
}

.date_container {
  @include container-style;
}

.time_date {
  @include date-style;
}

.hover_revealer {
  @include hover-revealer-style;
}

