/** Media-Player ***********************************/

.media_player_launcher{
    border-radius: 20px;
    margin-left: 10px;
}

.media_player_button {
    color: $color9;
    background-color: $color7;
    border-radius: 40px;
    box-shadow: $box-shadow-deep;

    &:hover {
        color: $color13;
        box-shadow: $box-shadow-inset;
    }
}
