/** Tooltip ***********************************/

tooltip.background {
    background-color: $color2;
    font-size: 15;
    border-radius: 10px;
    color: $color5;
}

tooltip label {
    margin: 2px;
}

