/** Mixins ***************************************/

@mixin box-bg($bg, $radius: 10px) {
  background-color: $bg;
  border-radius: $radius;
}

@mixin circle-button($bg, $color, $hover-color: null, $disabled-color: null) {
  background: $bg;
  border-radius: 50%;
  color: $color;

  &:hover {
    @if $hover-color {
      color: $hover-color;
    }
  }

  &:disabled {
    @if $disabled-color {
      color: $disabled-color;
    }
  }
}

@mixin border-top-rounded($bg, $border-color, $radius: 10px) {
  background-color: $bg;
  border-top: 1px solid $border-color;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}


/** Calendar *************************************/

calendar {
  background: $color0;

  &.view {
    @include box-bg($color0);
  }

  &.button {
    @include circle-button($color2, $color4, $color3, $color3);
  }

  &.header {
    @include border-top-rounded($color2, $color4);
  }

  &.highlight {
    color: $color6;
  }

  &:selected {
    color: $color3;
    background: $color6;
    border-radius: 0.2em;
  }

  &:indeterminate {
    color: $color9;
  }
}
