/** Mixins ****************************************/

@mixin container-style {
  border-radius: 20px;
  background-color: $color3;
  box-shadow: $shadow-inset-soft;
  transition: all 0.2s ease;
  margin-top: 2px;
  margin-bottom: 2px;
}

@mixin time-style {
  margin-right: 2px;
  padding-left: 1px;
  border-radius: 20px;

  font-size: 22px;
  letter-spacing: -0.5px;
  color: $foreground;
  background-color: transparent;
  box-shadow: $shadow-inset-soft;

  transition: all 0.2s ease;

  &:hover {
    color: $color9;
    background-color: $color6;
    box-shadow: 0 0 5px $color6;
  }
}

@mixin date-style {
  padding-top: 0px;
  border-radius: 20px;

  font-size: 20px;
  color: $foreground;
  text-shadow: 0 0 2px $color2;

  background-color: transparent;
  box-shadow: $shadow-inset-soft;
  transition: all 0.2s ease;

  &:hover {
    color: $color9;
    background-color: $color6;
    box-shadow: 0 0 5px $color6;
  }
}

/** Styles ****************************************/

.datetime_container {
  @include container-style;
  margin-right: 5px;
}

.time_hour,
.time_minute {
  @include time-style;
}

.time_date {
  @include date-style;
}
