/** Tools Menu ***********************************/
.tools_menu {
  border-radius: 10px;
  background-color: $color5;
  box-shadow: $box-shadow-deep;
}

.tool_option {
  color: $foreground;
  background-color: transparent;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  margin-right: 2px;
  margin-left: 2px;

  &:hover {
    color: $color3;
    background-color: $foreground;
    box-shadow: $box-shadow-inset;
  }
}
